*{
    margin: 0;
    padding: 0;
}

.block{
    height: 50vh;
    background-color: red;
    width: 30vw;
    
}


.block > div {
    position: absolute;
    top:20vh;
    left: 12vw;
    
}


.top{
    display: flex;
}



.three{

    background-color: #ed008c;
    width: 20vw;
}



.three > div {
    /* text-align: center; */
    position: absolute;
    top: 25vh;
    right: 9vw;
}



.two{
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}



.two > .yellow {
     
    background-color:yellow ;
    height: 25vh;

}



.yellow > p {
    position: absolute;
    top: 10vh;
    left: 50vw;
}



.two > div{

    background-color:#009545 ;
    height: 25vh;
    
}


.two{
    height: 50vh;
    width: 50vw;
}



.four > div{

    position: absolute;
    top: 35vh;
    left: 50vw;

}

.five{
    height: 25vh;
    width: 75vw;
    background-color: #f8931f;
    display: flex;
    justify-content: space-between;

}

.six{
    width: 20vw;

}

.six > div {
    background-color: #00aeed;
    /* height: 25vh; */
    height: 25vh;
    width: 38vh;
}

.eight{
    width: 80vw;
    height: 25vh;
    background-color: #c4996c;
}

.seven{

    float: right;
    background-color: #652d90;
    width: 23vw;
    height: 50vh;

    
}
.five-1 > p{
    position: absolute;
    top:60vh;
    left: 25vw;
    

}
.six > div > p {
    position: absolute;
    top:60vh ;
    left: 63vw;
}

.eight > div > p {
    position: absolute;
    top:85vh;
    left: 35vw;
    
}


.seven > div > p {
    position: absolute;
    top:74vh;
    left: 86vw;
    
}
