body{
    margin: 0px;
    background-color: cornflowerblue;
    background-image: url("https://miro.medium.com/max/1400/1*GsImz-edoeuqCMfKxDus0w.jpeg");
    background-size: 100%;
}


#list_container{
    background-color: lightblue;
    width: 400px;
    height: 400px;
   
   background-image: url("https://img.freepik.com/free-vector/gorgeous-clouds-background-with-blue-sky-design_1017-25501.jpg");
   margin-top: 100px;
   display: inline-block;
   justify-content: center;
   text-align: center;
}

.main-class{
    display: block;
   text-align: center;
   /* display: flex; */
   justify-content: center;
}

.heading{
    display: flex;
    justify-content: center;
    font-size: 80px;
    color: black;
}



.searchandbutton > input{
    width: 300px;
    height: 50px;
}

button{

    background-color: black;
    color: white;
    width: 100px;
    height: 60px;
}



